/**************************************************************************
 *
 ****** gridbase - base responsive grid system *******
 *
 **************************************************************************/

//breakpoints
$break-large: 1200px;
$break-medium: 992px;
$break-small: 768px;
$break-xsmall: 480px;
$main-break: small;

//grid settings
$grid: 12;
$columns: 12;
$gutter: 15px;

@mixin breakpoint($point, $type) {

	@if $point == large {
		@media all and (#{$type}-width: $break-large) { @content; }
	}

	@else if $point == medium {
		@media all and (#{$type}-width: $break-medium) { @content; }
	}

	@else if $point == small {
		@media all and (#{$type}-width: $break-small) { @content; }
	}

	@else if $point == xsmall {
		@media all and (#{$type}-width: $break-xsmall) { @content; }
	}
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container, .row {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.container, .container-fluid {
	@extend %container-styles;
}

.container {
	@media all and (min-width: $break-small) and (max-width: $break-medium) {
		width: 750px;
	}

	@media all and (min-width: $break-medium) and (max-width: $break-large) {
		width: 970px;
	}

	@media all and (min-width: $break-large) {
		width: 1170px;
	}
}

%container-styles {
	padding-right: #{$gutter};
	padding-left: #{$gutter};
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right:-#{$gutter};
	margin-left: -#{$gutter};
}

%c {
	position:relative;
	min-height:1px;
	padding-right:#{$gutter};
	padding-left:#{$gutter};
	float:left;
}

@for $c from 1 through $columns {
	.c#{$c} {
		width: percentage($c / $grid );
		@extend %c;
		@extend %gridbreak;
	}

	.o#{$c} {
		margin-left: percentage($c / $grid );
		@extend %offbreak;
	}
}

.left{
	float: left;
}

.right {
	float: right;
}

%gridbreak {
	@include breakpoint($main-break, max) { float: none; width: inherit; overflow: auto;}
}

%offbreak {
	@include breakpoint($main-break, max) { margin-left: auto; }
}