/**************************************************************************
 *
 ****** gridbase - base responsive grid system *******
 *
 **************************************************************************/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:before, .container:after, .row:before, .row:after, .clear:before, .clear:after {
  content: " ";
  display: table;
}

.container:after, .row:after, .clear:after {
  clear: both;
}

@media all and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media all and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.col-1 {
  width: 8.33333%;
}

.off-1 {
  margin-left: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.off-2 {
  margin-left: 16.66667%;
}

.col-3 {
  width: 25%;
}

.off-3 {
  margin-left: 25%;
}

.col-4 {
  width: 33.33333%;
}

.off-4 {
  margin-left: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.off-5 {
  margin-left: 41.66667%;
}

.col-6 {
  width: 50%;
}

.off-6 {
  margin-left: 50%;
}

.col-7 {
  width: 58.33333%;
}

.off-7 {
  margin-left: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.off-8 {
  margin-left: 66.66667%;
}

.col-9 {
  width: 75%;
}

.off-9 {
  margin-left: 75%;
}

.col-10 {
  width: 83.33333%;
}

.off-10 {
  margin-left: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.off-11 {
  margin-left: 91.66667%;
}

.col-12 {
  width: 100%;
}

.off-12 {
  margin-left: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

@media all and (max-width: 768px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: none;
    width: inherit;
    overflow: auto;
  }
}

@media all and (max-width: 768px) {
  .off-1, .off-2, .off-3, .off-4, .off-5, .off-6, .off-7, .off-8, .off-9, .off-10, .off-11, .off-12 {
    margin-left: auto;
  }
}
